/* Global */
:root {
  --color-font: #ffffff;
  --color-bg-dark: #050a13;
  --color-accent-blue: #03e8f9;
  --color-accent-orange: #fd6413;
  --color-bg-gray: #1b1e26;
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid transparent;
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}
.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}
.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.max-container {
  max-width: 1200px;
  margin: auto;
}
/*-------------- header------------ */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
  transition: all 300ms ease;
}
.header--dark {
  background-color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.header_logo {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header_logo_img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.header_logo_title {
  font-size: 1.8rem;
}
.header_toggle {
  display: none;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
}

.header_menu {
  display: flex;
  gap: 4px;
}
.header_menu_item {
  padding: 4px 16px;
  display: block;
  border-bottom: 1px solid transparent;
}
.header_menu_item:hover {
  border-bottom: 1px solid #03e8f9;
}

/*home*/
#home {
  position: relative;
  background-color: #1b1e26;
  color: white;
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
}
.home_divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.home_divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.home_divider .shape-fill {
  fill: #ffffff;
}
.home_avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid #03e8f9;
  border-radius: 100%;
}
.home_title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home_title--strong {
  color: #03e8f9;
}
.home_description {
  font-size: 1.3rem;
  max-width: 800px;
  margin: 1.5rem auto 0;
  line-height: 1.7;
}
.home_contact {
  display: inline-block;
  background-color: #03e8f9;
  padding: 0.5rem 1rem;
  margin: 2rem;
  color: black;
  font-weight: bold;
  border-radius: 4px;
}
.home_contact:hover {
  background-color: transparent;
  color: white;
  outline: 2px solid #03e8f9;
}

/* About */
.majors {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem 0;
}
.major {
  width: 50%;
  background-color: #1b1e26;
  padding: 2rem 1rem;
  color: white;
  border-radius: 1rem;
  cursor: default;
}
.major_icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: #03e8f9;
  transition: all 300ms ease;
}
.major_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.major:hover .major_icon {
  transform: rotate(-15deg) scale(1.2);
}
.jobs {
  text-align: start;
}
.job {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}
.job_name {
  color: black;
}
.job_period {
  color: black;
  font-size: 0.8rem;
}

/* Skills */
#skills {
  background-color: #1b1e26;
  color: white;
}
.skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 2rem 3rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.skills_title {
  color: #03e8f9;
  margin: 1rem 0;
  font-size: 1.2rem;
}
.skills_coding {
  grid-row: span 2;
  padding: 1rem;
  background-color: #050a13;
}
.skills_coding ul {
  list-style: none;
  padding: 0;
}
.skills_coding li {
  margin-bottom: 0.5rem;
}
.skills_coding li > div:first-child {
  display: flex;
  justify-content: space-between;
}
.skills_coding li > div:last-child {
  background-color: #2c313a;
  height: 8px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}
.skills_coding li > div:last-child > div {
  height: 100%;
  background-color: #03e8f9;
  transition: width 0.5s ease-in-out;
}

.skills_tools {
  padding: 1rem;
}

.skills_etc {
  padding: 1rem;
  background-color: #050a13;
  filter: brightness(150%);
}

/* Work */
#work {
  background-color: #050a13;
  color: white;
}
.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}
.category {
  position: relative;
  color: white;
  font-size: 1.1rem;
  padding: 0.5rem 2.5rem;
  border: 1px solid #03e8f9;
  cursor: pointer;
}
.category--selected {
  background-color: #03e8f9;
  color: #050a13;
}
.category_count {
  right: 6px;
  width: 28px;
  height: 28px;
  position: absolute;
  background-color: #fd6413;
  color: white;
  line-height: 28px;
  border-radius: 100%;
  transition: all 300ms ease-in;
  opacity: 0;
  top: -20px;
}

.category--selected .category_count,
.category:hover .category_count {
  opacity: 1;
  top: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.project_img {
  width: 100%;
}
.project_metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}
.project_metadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}
.project_title::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  width: 50px;
  height: 2px;
  background-color: #03e8f9;
}

/* Footer */
#contact {
  background-color: #1b1e26;
  color: white;
}
.contact_links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.contact_link {
  transition: color 250ms ease-in;
}
.contact_link:hover {
  color: #03e8f9;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .section {
    padding: 4rem 2rem;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
  .header {
    flex-direction: column;
    align-items: start;
    background-color: #1b1e26;
  }

  .header_toggle {
    display: block;
  }

  .header_menu {
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 1rem 4rem;
    gap: 1rem;
  }

  .header_menu.open {
    display: flex;
  }
  .header_nav {
    width: 100%;
  }
  #home {
    padding-bottom: 3rem;
  }
  .home_title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .majors {
    flex-direction: column;
    align-items: center;
  }
  .major {
    max-width: 25rem;
  }
  .job {
    justify-content: center;
  }
  .skills {
    grid-template-columns: 1fr;
  }
  .categories {
    flex-direction: column;
  }
  .category {
    width: 100%;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
